streamlit
ocrmypdf
pytesseract
streamlit
pdfplumber
streamlit
pdfplumber
pytesseract
Pillow
streamlit
pdfplumber
pytesseract
Pillow
numpy
streamlit
openai
pdfplumber
python-docx
streamlit
openai
pypdf2
python-dotenv
